#img-bg{
    background-image: url("https://image.freepik.com/vetores-gratis/seamless-doodle-blog-social-media-comunicacao-padrao-ilustracao-vetorial-de-fundo_1284-1954.jpg");
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}