#img-bg{
    background-image: url("https://1h4hfe10xz8m3g3xkh2wb9lc-wpengine.netdna-ssl.com/materiais-educativos/files/2016/05/viver-de-blog_materiais.png");
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}